version: '3'
services:
  mongodb:
    image: mongo
    container_name: mongodb
    restart: always
    ports:
      - "27017:27017"
    environment:
      - MONGO_INITDB_ROOT_USERNAME=root
      - MONGO_INITDB_ROOT_PASSWORD=p4ssw0rd
    volumes:
      - ./src/main/resources/db/mongo-init.js:/docker-entrypoint-initdb.d/mongo-init.js:ro

  mongo-express:
    image: mongo-express
    container_name: mongo-express
    restart: always
    ports:
      - "8081:8081"
    environment:
      - ME_CONFIG_MONGODB_ADMINUSERNAME=root
      - ME_CONFIG_MONGODB_ADMINPASSWORD=p4ssw0rd
      - ME_CONFIG_MONGODB_SERVER=mongodb
    depends_on:
      - mongodb

  patents:
    image: patents:v9
    container_name: patentsApp
    restart: always
    ports:
      - "8082:8082"
    environment:
      - PATENTS_CONFIG_MONGODB_USER=chemicalsUser
      - PATENTS_CONFIG_MONGODB_PASS=chemicalsPass
      - PATENTS_CONFIG_MONGODB_PORT=27017
      - PATENTS_CONFIG_MONGODB_URL=mongodb
      - PATENTS_CONFIG_MONGODB_DATABASE=chemicalPatents
      - PATENTS_CONFIG_MONGODB_AUTH_DATABASE=chemicalPatents
    volumes:
      - ./Users/ivanlaraarranz/Downloads/testUpload:/usr/app/sources
      - ./Users/ivanlaraarranz/Downloads/testUpload/loaded:/usr/app/sources/loaded
    depends_on:
      - mongodb